<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

    <!-- Microcontroller Device Argument -->
    <arg name="open_serial" default="/dev/ttyACM0"/>

    <node pkg="rover_pkg" type="twist_PWM" name="twis_PWM" clear_params="true" output="screen" respawn="true">
      <param name="open_serial" value="$(arg open_serial)" />
      <param name="???" type="int" value="9600"/>
      <!-- INPUT TOPICS -->
      <remap from="drive_mux" to="drive_mux" />
      <!--remap from="servo_pos ???" to="servo_pos ???" /-->
    </node>
</launch>
